/* * {
    box-sizing: border-box;
} */

.dialog-content {
    background-color: white;
    border-radius: 24px;
    border: 1px solid lightgray;
    padding: 15px;
    /* width: 1116px;
    height: 870px; */
    max-height: calc(100% - 2rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow: hidden;
    padding: 64px;
    animation: boxSlideIn 0.325s ease-in forwards;
    overflow-y: auto; 
  }

  .cardHeadlinecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
  }

  .cardHeadLine {
    width: 466px;
    height: 78px;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
  }

  #closeDialogBTN {
    width: 24px;
    height: 24px;
  }

  #closeDialogBTN:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 10px;
  }

  .mainAddTaskContainer{
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .rightAddTaskMini, .leftAddTaskMini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  #seperator {
    padding-left: 48.25px;
    padding-right: 48px;
  }

  .textareadAddTaskMini {
    width: 440px;
    height: 82px;
    max-width: 422px;
    padding: 18px 0px 18px 16px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
    color: black !important;
    display: flex;
    align-items: flex-start;
    text-align: start;
    font-size: 20px;
    word-wrap: break-word;
    resize: none;
    position: relative;
  }

  .width440 {
    width: 440px;
  }

  @media screen and (max-width: 1200px)  {
    #seperator {
        padding: 0;
    }
  }

  @media screen and (max-width: 1100px)  {
    .dialog-content {
        padding: 16px 32px;
        max-height: 70vh;
    }

    #seperator {
        display: none;
    }

    .mainAddTaskContainer {
        flex-direction: column;
    }   
  }