body {
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto 0 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Inter", sans-serif;
}

/* main css for addTask */

.paddingForm {
  padding-left: 328px;
}

.zindex {
  z-index: -999;
}

.d-none {
  display: none;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.input-error {
  border: 1px solid red !important;
}

input,
textarea {
  flex-wrap: wrap;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.main-container {
  padding-left: 328px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 72.2px;
  padding-top: 206px;
  padding-bottom: 48px;
  margin: 0;
}

.required-addTask {
  color: #ff8190;
}

::placeholder {
  color: rgba(209, 209, 209, 1);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.main-addTask {
  display: flex;
  justify-content: space-between;
}

span,
label {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #2a3647;
}

.pd-bottom {
  padding-bottom: 8px;
}

.border-input-addtask {
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  color: black !important;
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-size: 20px;
  word-wrap: break-word;
  resize: none;
  position: relative;
}

input {
  padding-left: 16px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  border-color: rgba(41, 171, 226, 1);
  outline: none;
}

.seperator-addtask {
  padding-left: 48.25px;
  padding-right: 48px;
}

.sections-addTask {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

/* Title section */

#titleAddTask {
  width: 420px;
  height: 44px;
}

/* description section */

textarea {
  width: 100%;
  height: 82px;
  max-width: 422px;
  padding: 18px 0px 18px 16px;
  gap: 10px;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
}

.padding-description {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* assigned to section */

.input-assignedTo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 11px 15px;
  max-width: 408px;
}

.input-assignedTo input {
  height: 9px;
}

#assignAddTask:hover {
  cursor: pointer;
}

.assignToDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 75%;
  z-index: 2;
  padding-top: 0 !important;
}

.assignToDropDownMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 288px;
  overflow-y: auto;
  background-color: #fff;
  padding: 12px 16px;
}

.assignToDropDownMenu::-webkit-scrollbar {
  height: 90px;
  width: 10px;
}

.assignToDropDownMenu::-webkit-scrollbar-thumb {
  border: 8px solid rgba(168, 168, 168, 1);
  border-radius: 8px;
  height: 8px;
}

.assignToDropDownMenu::-webkit-scrollbar-track {
  background-color: transparent;
}

.assignToDropDownMenu::-webkit-scrollbar-corner {
  background-color: transparent;
}

.assignToDDArrow,
#arrowup {
  border-radius: 50px;
  right: 13px;
  top: 10px;
  z-index: 999;
}

.rotate {
  transform: rotate(180deg);
}

.assignToContactField {
  border: 1px solid #29abe2;
  display: flex;
  padding: 0px 16px;
  width: 100%;
  border-radius: 10px;
  height: 48px;
}

.assignListContact {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignToBadge {
  font-size: 12px bold;
  border-radius: 50%;
  border: 2px solid white;
  padding: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.assignDetails {
  display: flex;
  align-items: center;
  gap: 16px;
}

.assignField {
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: white;
  color: black !important;
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-size: 16px;
  cursor: pointer;
  word-wrap: break-word;
  resize: none;
  position: absolute;
  max-width: 408px;
}

.drop-down-image-assign {
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-image:hover,
.assignToDDArrow:hover {
  cursor: pointer;
}

.border-none {
  border: unset;
}

.contactSelected {
  background-color: #2a3647 !important;
  color: white;
}

.assignedUserList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

/* due date section */

.input-dueDate {
  padding: 12px 305px 12px 16px;
  width: 25.5%;
  height: 22px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(/Join/assets/img/due_date_calender_AddTasksvg.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
  position: absolute;
  top: 10px;
  right: 13px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

/* prio section */

.priority {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.button-prio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px 10px 16px 10px;
  gap: 8px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.padding-prio {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* category section */

.padding-category {
  padding-bottom: 24px;
}

.width100 {
  width: 100%;
}

.input-category {
  position: relative;
  border: none;
  border-radius: 10px;
  border-radius: inherit;
  background-color: #fff;
  font-size: inherit;
  cursor: pointer;
  max-width: 440px;
}

.input-option {
	padding: 0.5rem;
	cursor: pointer;
  border-radius: 10px;
}

.input-option:hover {
   background-color: #eaeaea;
   border-radius: 0.625rem;
}

.input-category:focus-visible {
  outline: none;
}

select.option {
  border-radius: 10px;
  border-color: #29abe2;
}

select.input-category {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/* CSS für das Dropdown-Menü */
select.input-category option[value=""][disabled] {
  display: none; /* Ausblenden der Option "Select Task Category" */
}

.drop-down-image {
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* subtasks section */

.input-subtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 4.5px;
  max-width: 429px;
}

.drop-down-subtask {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.add-subtasks {
  display: flex;
  gap: 4px;
}

.subtask-item:hover {
  background-color: #f2f2f2; /* Leichtes Grau */
  cursor: pointer;
  border-radius: 10px;
}

.subtasks:hover {
  cursor: pointer;
}

.sections-addTask input[type="text"]:focus {
  border-color: rgba(41, 171, 226, 1);
  outline: none;
}

.subtasks-list {
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Abstand zwischen den DIVs */
  max-width: 444px;
}

.subtasks-list img {
  display: inline-block;
}

.subtask-item {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.subtask-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtask-content {
  flex-grow: 1;
  background-color: none;
  display: flex;
  justify-content: space-between;
}

.subtask-bounding-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.subtask-bounding-box img {
  margin-left: 5px;
  cursor: pointer;
}

.bounding-box {
  justify-content: right;
  display: flex;
  gap: 8px; /* Abstand zwischen den Bildern */
  transform: translateY(-50%);
  opacity: 0; /* Standardmäßig ausgeblendet */
  transition: opacity 0.3s ease; /* Sanfte Übergänge */
}

.subtask-item .subtask-icon {
  display: none; /* Standardmäßig ausblenden */
}

.subtask-item:hover .subtask-icon {
  display: inline-block; /* Bei Hover einblenden */
}

.subtask-item:hover .bounding-box {
  opacity: 1; /* Bei Hover einblenden */
}

.subtask-icon {
  width: 16px;
  height: 18px;
}

.subtask-icon:hover {
  cursor: pointer;
}

.subtaskEditText {
  border: 0;
  width: 80%;
}

.subtaskEditText:focus {
  outline: none;
}

/* footer section */

.addtask-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 115px;
}

.footer-btn-addTask {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 146px;
}

.footer-btn-text-img {
  gap: 4px;
}

#create-btn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: none;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 48px;
  display: flex;
  align-items: center;
  color: white;
}

#create-btn:hover {
  background-color: #29abe2;
}

#clear-btn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: 1px solid #2a3647;
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 48px;
  display: flex;
  align-items: center;
}

#clear-btn:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
}

#clear-btn:hover img {
  content: url(/Join/assets/img/clear_hook_blue_AddTask.svg);
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .paddingForm {
    padding-left: 300px;
  }
  
  h1 {
    padding-top: 140px;
  }
}

@media screen and (max-width: 1320px) {
  .paddingForm {
    padding-left: 280px;
  }
}

@media screen and (max-width: 1290px) {
  .paddingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
  }

  .seperator-addtask {
    display: none;
  }

  .main-addTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .footer-btn-addTask {
    padding-bottom: 100px;
    padding-top: 24px;
  }

  .addtask-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  #requiredFooter {
    padding-top: 120px;
  }

  h1 {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 550px) {
  #create-btn, #clear-btn {
    padding: 15px 12px 15px 24px;
  }

  select.input-category {
    width: 96%;
  }
}

@media screen and (max-width: 530px) {
  .addtask-footer {
    gap: 0;
  }

  select.input-category {
    font-size: 16px;
  }

  h1 {
    padding-top: 120px;
  }

  .paddingForm {
    display: flex;
    align-items: center;
  }

  .input-assignedTo {
    width: 87%;
  }

  .input-dueDate {
    padding: 12px 3px 12px 16px;
    width: 90%;
  }

  .priority {
    display: flex;
    align-items: center;
    width: 95%;
  }

  #categoryContainer {
    width: 87%;
  }

  .input-subtasks {
    width: 93%;
  }

  .addtask-footer {
    width: 96%;
    padding-top: 0;
  }

  textarea,
  #titleAddTask {
    padding-right: 0px;
    width: 90%;
  }

  h1 {
    font-size: 47px !important;
  }

  span,
  label {
    font-size: 16px;
  }

  #create-btn, #clear-btn {
    font-size: 14px;
    padding: 15px 15px 15px 24px;
  }

  #requiredFooter {
    font-size: 12px;
  }

  .button-prio {
    width: 121px;
    height: 41px;
  }

  .priority {
    flex-direction: column;
  }
}

@media screen and (max-width: 343px) {
  #create-btn, #clear-btn {
    font-size: 11px;
  }
}