 body {
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.d-none {
  display: none;
}

.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBetweenCenter img:hover{
  background-color: #f2f2f2; /* Leichtes Grau */
  cursor: pointer;
  border-radius: 10px;
}

.headline {
  width: 176px;
  height: 73px;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
}

.headlineBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 176px;
  margin-left: 296px;
  max-width: 1056px;
  width: 100vw;
  height: 73px;
}

.FindTask {
  display: flex;
  margin-right: 32px;
  border: 1px solid;
  border-radius: 10px;
  height: 48px;
  width: 312px;
  justify-content: space-around;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#search {
  border: none;
  padding: 0;
}

.searchButton {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
}

.line {
  width: 1px;
  height: 10px;
  color: grey;
}

.toDo {
  display: flex;
  width: 244px;
  height: 24px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.Task {
  width: 246px;
  height: 688px;
  gap: 24px;
  opacity: 0px;
}

.Task:hover {
  cursor: pointer;
}

.table {
  display: flex;
  margin-left: 296px;
  margin-top: 48px;
  flex-wrap: wrap;
}

.noToDo {
  width: 246px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-style: dashed;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 168, 168);
}

.addTaskBtn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: none;
  background-color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 48px;
  display: flex;
  align-items: center;
  color: white;
  gap: 8px;
}

.addTaskBtn:hover {
  cursor: pointer;
  background-color: #29abe2;
}

.plus {
  width: 24px;
  height: 24px;
  border: 2px;
}

.plus:hover {
  cursor: pointer;
  filter: invert(64%) sepia(70%) saturate(2202%) hue-rotate(165deg) brightness(91%) contrast(94%);
}

input:focus {
  outline: none;
}

.addTask {
  position: fixed;
  z-index: 5;
  width: 1116px;
  height: 870px;
  right: -1117px;
  margin-top: -899px;
  margin-left: 161px;
  border-radius: 30px 0px 0px 0px;
  background-color: black;
  transition: right 525ms ease-in-out;
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparenter Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Stellen Sie sicher, dass das Dialogfenster über anderen Elementen liegt */
}

.dialog-content {
  background-color: white;
  border-radius: 24px;
  border: 1px solid lightgray;
  padding: 15px;
  width: 70vw; /* Breite des Dialogfensters anpassen */
  height: 70vh; /* Höhe des Dialogfensters anpassen */
  max-height: calc(100% - 2rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Stellen Sie sicher, dass das Dialogfenster über anderen Inhalten liegt */
  overflow: hidden;
}

.userStoryMini {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 236px;
  height: 244px;
  padding-top: 16px;
  gap: 10px;
  border-radius: 24px;
  background-color: #fff; 
  box-shadow: 0px 0px 10px 3px #00000014;
  transition: transform 0.3s ease-out;
}

.userStoryMini:hover {
  transform: rotate(+5deg); /* Beispiel für Skalierung während des Ziehens */
}

.headerStoryMini {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskCategory {
  padding: 4px 16px 4px 16px;
  /* height: 27px; */
  width: 144px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.taskDescription {
  color: rgba(168, 168, 168, 1);
  width: 220px;
  height: 38px;
  gap: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.taskTitleMini {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

.TaskProgressbar {
  display: flex;
  width: 220px;
  height: 8px;
  top: 4px;
  padding: 0px 64px 0px 0px;
  gap: 10px;
  border-radius: 8px;
}

.progressbar .progress-bar {
  height: 100%;
  width: 128px; /* Initial width */
  background-color: lightgray; /* This will be updated by JS */
  border-radius: 8px;
}

.Taskcounter {
  width: 73px;
  height: 14px;
  left: 139px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
}

.TaskMembers {
  width: 32px;
  height: 32px;
  gap: 10px;
  border-radius: 45px;
}

.taskPriority {
  width: 32px;
  height: 32px;
  padding: 10px 18px 10px 18px;
  gap: 10px;
  opacity: 0px;
}

.taskFooter {
  width: 220px;
  height: 32px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.bigTask {
  margin-top: -920px;
  margin-left: 470px;
  position: absolute;
  background-color: #fff;
  width: 525px;
  height: 931px;
  border-radius: 30px;
  z-index: 5;
  max-height: 80vh;
  overflow-y: auto;
}

.bigTask::-webkit-scrollbar {
  height: 90px;
  width: 10px;
}

.bigTask::-webkit-scrollbar-thumb {
  border: 8px solid rgba(168, 168, 168, 1);
  border-radius: 8px;
  height: 8px;
}

.bigTask::-webkit-scrollbar-track {
  background-color: transparent;
}

.bigTask::-webkit-scrollbar-corner {
  background-color: transparent;
}

.bigTaskContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 40px 48px 40px;
}

.bigEditTaskContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 40px 48px 40px;
}

.btnCloseEditTaks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnCloseEditTaks img:hover {
  background-color: #f2f2f2; /* Leichtes Grau */
  cursor: pointer;
  border-radius: 10px;
}

.bigTaskCategory {
  padding: 4px 16px 4px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  font-size: 23px;
}

.taskTitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.taskDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.bigTaskSections {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.bigTaskColor {
  color:  rgba(66, 82, 110, 1);
}

.bigTaskPrio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bigTaskPrio img{
  width: 17px;
  height: 12px;
}

.members {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 8px;
}

.userTask {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 7px 16px 7px 16px;
}

.initialsBig {
  border-radius: 50%;
  border: 2px solid white;
  padding: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: solid 1px white;
  font-weight: 400;
  font-size: 12px;
}

.initialsMini {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 45px;
  color: white;
}

.badgesMini {
  display: flex;
}

.userImg {
  width: 42px;
  height: 42px;
  margin: 10px;
  border-radius: 45px;
  opacity: 0px;
  margin-right: 10px;
}

.subTask {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 8px;
}

.subtaskContent {
  display: flex;
  gap: 16px;
  padding: 6px 16px 6px 16px;
  align-items: center;
}

.subTaskCheckBox{
  padding-right: 16px;
  height: 24px;
  width: 24px;
}

.taskfooter {
  display: flex;
  gap: 18px;
  justify-content: right;
}

.iconTask {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconTask img{
  width: 16px;
  height: 18px;
}

.iconTask:hover{
  cursor: pointer;
  color: rgb(0, 124, 238);
  font-weight: 700;
  filter: invert(64%) sepia(70%) saturate(2202%) hue-rotate(165deg) brightness(91%) contrast(94%);
}

/* assigned to section */

.input-assignedTo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background: #fff;
  padding: 12px 16px;
  width: 100%;
}

#assignAddTask:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.assignToDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 440px;
  z-index: 2;
  padding-top: 0 !important;
}

.assignToDropDownMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 288px;
  overflow-y: auto;
  background-color: #fff;
  padding: 12px 16px;
}

.assignToDDArrow, #arrowup {
  border-radius: 50px;
  right: 13px;
  top: 10px;
  z-index: 999;
}

.rotate {
  transform: rotate(180deg);
}

.assignToContactField {
  border: 1px solid #29abe2;
  display: flex;
  padding: 0px 16px;
  width: 100%;
  border-radius: 10px;
  height: 48px;
}

.assignListContact {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignToBadge {
  font-size: 12px bold;
  border-radius: 50%;
  border: 2px solid white;
  padding: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.assignDetails {
  display: flex;
  align-items: center;
  gap: 16px;
}

.assignField {
  border-radius: 10px;
  border: solid 1px #D1D1D1;
  background-color: white;
  color: black !important;
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-size: 16px;
  cursor: pointer;
  word-wrap: break-word;
  resize: none;
  position: relative;
  width: 100%;
}

.drop-down-image-assign { 
  border-radius: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-image:hover, .assignToDDArrow:hover {
  background-color: #ebeaec;
  cursor: pointer;
}

.border-none {
  border: unset;
}

.contactSelected {
  background-color: #2A3647 !important;
  color: white;
}

.assignedUserList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.editTaskFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1400px){
  .headlineBoard, .table {
      margin-left: 140px;
  }
  .footer-btn-addTask {
      padding-top: 16px;
  }

  .dialog-content {
    overflow-y: auto;
    padding-left: 0;
  }

  .dialog-content::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1235px) {
  .headlineBoard, .table {
    margin-left: 70px;
  }
}

@media (max-width: 1160px) {
  .headlineBoard {
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
  }

  .table {
    margin-top: 112px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .FindTask {
    margin: 0;
  }

  #plusMobile {
    padding: 3px;
    border-radius: 8px;
    border: none;
    background-color: #2a3647;
    font-size: 36px;
    line-height: 25.2px;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    width: 40px;
    justify-content: center;
  }

  #plusMobile:hover {
    cursor: pointer;
    background-color: #29abe2;
  }

  #addTaskBtn {
    display: none;
  }

  .headlineMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vw;
  }
}

@media (max-width: 970px) {
  .table {
    flex-direction: column;
  }

  .task {
    width: 75vw;
  }
}