.d-none {
  display: none;
}

.headlineBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 176px;
  margin-left: 296px;
  width: 1056px;
  height: 73px;
}

#h1 {
  width: 176px;
  height: 73px;
  font-family: "Inter", sans-serif;
  font-size: 700;
}

.FindTask {
  display: flex;
  margin-left: 376px;
  margin-right: 32px;
  border: 1px solid;
  border-radius: 10px;
  height: 48px;
  width: 312px;
  justify-content: space-around;
}

.task {
  display: flex;
}

#search {
  border: none;
  padding: 0;
}

.searchButton {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
}

.line {
  width: 1px;
  height: 10px;
  color: grey;
}

.toDo {
  display: flex;
  width: 244px;
  height: 24px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.Task {
  width: 246px;
  height: 688px;
  gap: 24px;
  opacity: 0px;
}

.table {
  display: flex;
  margin-left: 296px;
  margin-top: 48px;
}

.noToDo {
  width: 246px;
  height: 48px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-style: dotted;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 168, 168);
}

.addTaskBtn {
  width: 160px;
  height: 48px;
  padding: 8px 16px 8px 16px;
}

.addTaskBtn:hover {
  cursor: pointer;
}

.plus {
  width: 24px;
  height: 24px;
  border: 2px;
}

.plus:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.addTask {
  position: absolute;
  z-index: 5;
  width: 1116px;
  height: 870px;
  margin-top: -899px;
  margin-left: 161px;
  border-radius: 30px 0px 0px 0px;
  background-color: black;
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparenter Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Stellen Sie sicher, dass das Dialogfenster über anderen Elementen liegt */
}

.dialog-content {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 24px;
  width: 50vw; /* Breite des Dialogfensters anpassen */
  height: 50vh; /* Höhe des Dialogfensters anpassen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Stellen Sie sicher, dass das Dialogfenster über anderen Inhalten liegt */
  overflow-y: auto; /* Falls der Inhalt scrollbar wird */
}
