body {
  margin: 0;
  background-color: #f6f7f8;
  box-sizing: border-box;
}

.d-none {
  display: none;
  z-index: 0;
}

.rigthSection {
  background-color: #f6f7f8;
  padding-left: 55px;
}

.contactPage {
  width: 1200px;
  height: 928px;
  display: flex;
  margin-left: 232px;
  margin-top: 96px;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.seperator {
  height: 59px;
  border: 3px;
  border: 3px solid #29abe2;
}

.headline {
  width: 274px;
  height: 73px;
  font-family: "Inter", sans-serif;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
}

h4 {
  width: 235px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  margin-left: 20px;
}

.contactOverview {
  width: 569px;
  height: 73px;
  margin-top: 110px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allContacts {
  background-color: white;
  width: 456px;
  height: calc(100vh - 96px);
  box-shadow: 4px 0px 6px 0px #00000014;
  padding: 32px 24px 32px 48px;
  overflow-y: scroll;
}

.allContacts::-webkit-scrollbar {
  height: 24px;
  width: 24px;
}
.allContacts::-webkit-scrollbar:vertical {
  width: 11px;
}

.allContacts::-webkit-scrollbar:horizontal {
  height: 11px;
}

.allContacts::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #A8A8A8;
}
.allContacts::-webkit-scrollbar-track { 
  border-radius: 8px;
  background-color: #FFFFFF;
} 

.allContacts::-webkit-scrollbar-button
{
  border-style: solid;
  height: 16px;
  width: 16px;
}

.allContacts::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #404040 transparent;
}

.allContacts::-webkit-scrollbar-button:vertical:increment
{
  border-width: 14px 7px 0 7px;
  border-color: #404040 transparent transparent transparent;
}

.addBtn {
  width: 100%;
  height: 56px;
  padding: 12px 0px;
  gap: 16px;
  font-size: 21px;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: rgb(41, 171, 226);
  cursor: pointer;
}

.AddContactText {
  width: 175px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #fff;
}

.addContactPic {
  width: 32px;
  height: 32px;
}

.addContact {
  display: flex;
  align-items: center;
  width: 1212px;
  height: 592px;
  margin-left: -1006px;
  gap: 0px;
  border-radius: 30px;
  z-index: 5;
  background-color: #fff;
}

.addContactLeft {
  width: 467px;
  height: 594px;
  padding-left: 48px;
  gap: 12px;
  opacity: 0px;
  background: #2a3647;
  border-radius: 30px;
}

.addContactCancel {
  width: 126px;
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a3647;
}

.addContactCancel:hover {
  color: rgb(0, 124, 238);
  cursor: pointer;
  border: 1px solid rgb(0, 124, 238);
}

.cancelText {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.addContactSave {
  width: 214px;
  height: 57px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  opacity: 0px;
  background: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}

.addContactSave:hover {
  background-color: rgb(0, 124, 238);
  cursor: pointer;
  border: 1px solid rgb(0, 124, 238);
}

.saveText {
  width: 154px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #ffffff;
}

.logo {
  width: 55.6px;
  height: 66.48px;
  padding-top: 66px;
}

h1 {
  width: 366px;
  height: 73px;
  font-family: "Inter", sans-serif;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  color: #fff;
}

h2 {
  width: 371px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  color: #ffffff;
}

.vector {
  width: 90px;
  height: 0px;
  gap: 0px;
  border: 3px;
  opacity: 0px;
  border: 3px solid #29abe2;
}

.addContactRigth {
  height: 467px;
}

.inputarea {
  display: flex;
}

.addInitials {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  border: 3px;
  margin-top: 103px;
}

.inputFields {
  width: 422px;
  height: 215px;
  gap: 32px;
  opacity: 0px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 360px;
  height: 50px;
  gap: 8px;
  opacity: 0px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  align-items: center;
}

input {
  width: 380px;
  height: 50px;
  border: none;
}

.buttonArea {
  width: 364px;
  height: 57px;
  top: 400px;
  left: 742px;
  gap: 24px;
  opacity: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 150px;
  padding-top: 100px;
}

.closeCreate {
  width: 126px;
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  opacity: 0px;
  border: 1px solid #2a3647;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.CloseText {
  width: 66px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2a3647;
}

.closeImg {
  width: 24px;
  height: 24px;
  padding: 6.76px;
}

.createContactBtn {
  display: flex;
  align-items: center;
  width: 229px;
  height: 57px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
}

.createText {
  width: 154px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #ffffff;
}

.inputImg {
  height: 24px;
  width: 24px;
}

.initials {
  width: 42px;
  height: 42px;
  border: 2px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contactSmall {
  cursor: pointer;
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
  border-radius: 10px;
  display: flex;
}

.contactInfo {
  width: 119px;
  height: 48px;
  gap: 5px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}

.name {
  width: 160px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.mail {
  width: 119px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}

.initialsBig {
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px;
  border: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: center;
  color: #ffffff;
}

.nameBig {
  height: 56px;
  font-family: "Inter", sans-serif;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  padding-bottom: 8px;
}

.btn {
  width: 81px;
  height: 24px;
  left: 78px;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  cursor: pointer;
}

.infoHead {
  margin: 21px 0;
  font-size: 20px;
  padding: 27px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contactdetails{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contactDetailsInfo{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mailHead {
  font-weight: 700;
}

.email {
  color: #007CEE;
}

.nameArea {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.upperArea {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 54px;
}

.deleteBtnContact {
  gap: 8px;
  display: flex;
  border: none;
  align-items: center;
}

.deleteBtnContact:hover {
  cursor: pointer;
  color: rgb(0, 124, 238);
  font-weight: 700;
  filter: invert(64%) sepia(70%) saturate(2202%) hue-rotate(165deg) brightness(91%) contrast(94%);
}

.btnArea {
  display: flex;
  gap: 18px;
}

.imgEdit {
  height: 18.25px;
  width: 18.28px;
}

.imgDelete {
  height: 18px;
  width: 16px;
}

.deleteBtnEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 55px;
  padding: 15px 24px 15px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #ffffff;
  margin-right: 25px;
  border: 1px solid #2a3647;
}

.deleteBtnEdit:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 124, 238);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.deleteBtnEditText {
  width: 65px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #2a3647;
}

.deleteBtnEditText:hover {
  color: rgb(0, 124, 238);
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 57px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
}

.saveBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 124, 238);
  border: none;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.saveBtnText {
  width: 51px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  color: #ffffff;
}