body {
  position: relative;
  margin: 0 auto;
  max-width: 1900px;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

button {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.login-main-container {
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up {
  gap: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 67px;
  right: 122px;
}

#sign-up-btn {
  border: none;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  padding: 15px 16px 15px 16px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

#sign-up-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#login-logo {
  width: 100px;
  height: 122px;
  position: absolute;
  z-index: 10;
}

#background-fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  animation: opacity-fade 1s ease-in-out;
  z-index: 10;
}

#logo-container {
  position: absolute;
  top: 80px;
  left: 77px;
  animation: moving-to-target 1s ease-in-out;
  z-index: 10;
}

.fixed-center {
  position: fixed;
}

.login-form-card {
  width: 422px;
  height: 397px;
  max-width: 652px;
  max-height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  border-radius: 30px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 0px 14px 3px #0000000a;
  position: relative;
}

.login-form-card h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

#wrong-password {
  position: absolute;
  top: 315px;
  left: 118px;
  display: none;
  color: #ff8190;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.login-underline {
  border-bottom: 3px solid #29abe2;
  width: 150px;
  margin-top: -16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
}

input {
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  width: 340px;
}

input::placeholder {
  color: #e8e8e8;
}

.email-input,
.password-input {
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

#mail-logo,
#password-logo {
  width: 24px;
  height: 24px;
}

.check-box {
  display: flex;
  align-items: flex-end;
  margin-left: 43px;
}

.check-box img {
  margin-right: 12px;
  cursor: pointer;
}

.check-box img:hover {
  transform: scale(1.1);
  background-color: #edf2fa;
}

.bottom-btns {
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

#login-btn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: none;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 48px;
  display: flex;
  align-items: center;
}

#login-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#guest-login-btn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: 1px solid #2a3647;
  background-color: white;
  color: #2a3647;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 48px;
  display: flex;
  align-items: center;
}

#guest-login-btn:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

footer {
  position: absolute;
  bottom: 40px;
  width: 246px;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

footer a:hover {
  color: #29abe2;
  font-weight: 700;
}

@keyframes moving-to-target {
  from {
    top: 33%;
    left: 40%;
    transform: translate(-40%, -40%) scale(3);
  }

  to {
    top: 80px;
    left: 77px;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes moving-to-target-2 {
  from {
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%) scale(1.5);
  }

  to {
    top: 35px;
    left: 35px;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes opacity-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 1050px) {
  #logo-container {
    top: 35px;
    left: 35px;
    animation: moving-to-target-2 1s ease-in-out;
  }

  #sign-up-logo {
    width: 83px;
    height: 98px;
  }
}

@media (max-width: 750px) {
  .login-form-card {
    width: 339px;
    height: 365px;
  }
}

@media (max-width: 600px) {
  .login-form-card {
    width: 274px;
    height: 347px;
  }
}

@media (max-width: 520px) {
  .login-form-card {
    width: 235px;
  }

  .login-form-card h1 {
    font-size: 47px;
  }

  .login-underline {
    width: 88px;
  }

  #login-logo {
    width: 85px;
    height: 109px;
  }

  .email-input,
  .password-input {
    width: 335px;
  }

  .sign-up {
    top: 747px;
    width: 100%;
    right: -21%;
  }

  footer {
    bottom: -5px;
  }

  #background-fade {
    background: #2a3647;
    animation: opacity-fade 2s ease-in-out;
  }
}

@media (max-width: 480px) {
  .login-form-card {
    width: 180px;
  }
}

@media (max-width: 420px) {
  .email-input,
  .password-input {
    width: 300px;
  }

  .login-form-card {
    width: 144px;
    padding-bottom: 100px;
  }

  .bottom-btns {
    gap: 21px;
    flex-direction: column;
    margin-top: 30px;
  }

  #login-btn {
    width: 178px;
    justify-content: center;
  }

  .sign-up {
    right: -19%;
  }

  #login-logo {
    width: 65px;
    height: 75px;
  }

  .sign-up {
    right: -14%;
  }
}

@media (max-width: 380px) {
  .email-input,
  .password-input {
    width: 270px;
  }

  .login-form-card {
    width: 105px;
  }

  .login-form-card h1 {
    font-size: 40px;
    width: 170%;
  }
}

@media (max-width: 340px) {
  .email-input,
  .password-input {
    gap: 0;
    width: 255px;
  }

  .login-form-card {
    width: 75px;
  }

  .login-underline {
    width: 67px;
  }
}
