body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  height: 90px;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border: 8px solid rgba(168, 168, 168, 1);
  border-radius: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 103px;
  position: fixed;
  width: 232px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  z-index: 11;
  padding-bottom: 0;
  overflow-y: auto;
}

.blueLetters {
  color: #29ABE2;
  display: inline;
}

.sidebar-container {
  position: relative;
  max-height: 964px;
  height: 83%;
}

.sidebar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

#joinLogoHeader {
  display: none;
}

.LogoSideBar {
  width: 100px;
  height: 122px;
  padding-top: 64px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 114px;
}

.linkSideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 114px;
  align-items: center;
  gap: 8px;
  width: 232px;
  height: 239px;
}

.sideBtn {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 46px;
  width: 232px;
  border-radius: 8px 0px 0px 0px;
  padding-bottom: 0px;
}

.sideBtn:hover {
  background-color: rgb(42, 61, 89);
}

.clickedSideBtn {
  background-color: rgb(9, 25, 49);
}

.legal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -60px;
}

a:hover {
  cursor: pointer;
  color: rgb(51, 175, 227);
}

.headlineDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy {
  display: flex;
  justify-content: space-between;
}

.privacyPolicy {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-right: 96px;
}

.arrow {
  height: 37px;
  width: 37px;
  transition: height 1s, width 1s;
  padding-right: 16px;
}

.arrow:hover {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #d4d5d6;
  border-radius: 50px;
}

.legalNotice {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  position: relative;
  left: 300px;
  top: 120px;
  width: 103vh;
  width: calc(100% - 329px);
  max-width: 1440px;
  padding-bottom: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
}

.pLineHeader {
  padding-left: 328px;
}

.display {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 40px;
}

.d-none {
  display: none;
}

.subMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  height: 158px;
  top: 97px;
  right: 20px;
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
}

.submenu-links {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
}

.help {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  transition: height 1s, width 1s;
}

.help:hover {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 3px solid #2a3647;
  border-radius: 559px;
  background-color: rgb(255, 255, 255);
}

.user:hover {
  cursor: pointer;
}

.initialsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 14px;
  color: #29abe2;
  font-weight: 700;
}

#privacy {
  width: 121px;
  height: 35px;
  color: rgb(168, 168, 168);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#legal {
  width: 121px;
  height: 35px;
  color: rgb(168, 168, 168);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 700;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(41, 171, 226);
}

.column {
  display: flex;
  flex-direction: column;
}

.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #2a3647;
  width: 100%;
  bottom: 0;
  height: 80px;
  justify-content: center;
  gap: 25px;
  align-items: center;
  gap: 64px;
  z-index: 11;
  display: none;
}

.navBarIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 76px;
  border-radius: 16px;
  padding-bottom: 0;
}

.navBarImg {
  height: 100px;
}

@media screen and (max-width: 1400px) {
  .pLineHeader {
    padding-left: 90px;
  }

  .header {
    width: 85%;
    padding-left: 200px;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 80%;
    padding-left: 235px;
  }
}

@media (max-width: 1100px) {
  .display {
    padding-right: 50px;
  }
}

@media (max-width: 1000px) {
  .legalNotice {
    width: calc(100% - 56px);
    left: 16px;
    top: 84px;
  }

  .sidebar {
    display: none;
  }

  .navBar {
    display: flex;
  }

  .pLineHeader {
    display: none;
  }

  #joinLogoHeader {
    display: block;
    height: 80px;
    position: absolute;
    left: 30px;
    top: 7px;
  }

  .header {
    width: 83%;
    padding-left: 193px;
  }
}

@media (max-width: 900px) {
  .header {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .header {
    width: 77%;
  }
}

@media (max-width: 680px) {
  .header {
    width: 73%;
  }
}

@media (max-width: 580px) {
  .header {
    width: 70%;
  }
}

@media (max-width: 551px) {
  .navBar {
    gap: 1px;
  }

  .navBarImg {
    height: 70px;
  }

  .legalNotice {
     width: calc(100% - 20px);
  }

  .user {
    width: 40px;
    height: 40px;
  }

  .help {
    display: none;
  }

  #joinLogoHeader {
    height: 55px;

    top: 12px;
  }

  .header {
    height: 80px;
    width: 66%;
  }
}

@media (max-width: 440px) {
  #joinLogoHeader {
    height: 45px;
    top: 18px;
  }

  .display {
    padding-right: 58px;
  }

  .header {
    height: 80px;
    width: 63%;
  }

  .navBar {
    z-index: 13;
  }
}

@media (max-width: 400px) {
  .header {
    width: 59%;
  }
}

@media (max-width: 350px) {
  .header {
    width: 55%;
  }
}
