body {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px;
  gap: 103px;
  position: absolute;
  width: 232px;
  height: 1200px;
  left: 0px;
  top: 0px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  z-index: 5;
  padding-bottom: 0;
  position: fixed;
}

.LogoSideBar {
  width: 100px;
  height: 122px;
  padding-top: 64px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 114px;
}

.linkSideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 365px;
  align-items: center;
  gap: 8px;
  width: 232px;
}

.sideBtn {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 46px;
  width: 232px;
  border-radius: 8px 0px 0px 0px;
  padding-bottom: 0px;
}

.sideBtn:hover {
  background-color: rgb(42, 61, 89);
}

.clickedSideBtn {
  background-color: rgb(9, 25, 49);
}

.legal {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

a {
  padding-bottom: 20px;
  color: white;
}

a:hover {
  cursor: pointer;
  color: rgb(51, 175, 227);
}

.headlineDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  padding-top: 80px;
}

.privacy {
  display: flex;
  justify-content: space-between;
}

.privacyPolicy {
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-right: 96px;
}

.arrow {
  height: 37px;
  width: 37px;
  transition: height 1s, width 1s;
}

.arrow:hover {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #d4d5d6;
  border-radius: 50px;
}

.legalNotice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 1014px;
  height: 943px;
  left: 328px;
  top: 210px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 348px;
  gap: 34px;
  position: absolute;
  width: 1440px;
  height: 96px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1;
}

.display {
  display: flex;
  align-items: center;
}

.d-none {
  display: none;
}

.subMenu {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 20px 0px 20px 20px;
  width: 150px;
  height: 158px;
}

.help {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  transition: height 1s, width 1s;
}

.help:hover {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.user {
  margin-top: 25px;
  margin-bottom: 44px;
  width: 56px;
  height: 56px;
}

.user:hover {
  cursor: pointer;
}

#privacy {
  width: 121px;
  height: 35px;
  color: rgb(168, 168, 168);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#legal {
  width: 121px;
  height: 35px;
  color: rgb(168, 168, 168);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 700;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(41, 171, 226);
}

.column {
  display: flex;
  flex-direction: column;
}

.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #2a3647;
  width: 100%;
  bottom: 0;
  height: 80px;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 2px 16px;
  gap: 64px;
  z-index: 1;
}

.navBarIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 76px;
  border-radius: 16px;
}

.navBarImg {
  height: 100px;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 1401px) {
  .sidebar {
    display: block;
  }
  .navBar {
    display: none;
  }
}
