body {
  position: relative;
  margin: 0 auto;
  max-width: 1900px;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  height: 100%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.d-none {
  display: none;
}

button {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.sign-up-main-container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#sign-up-logo {
  width: 100px;
  height: 122px;
  position: absolute;
  z-index: 10;
}

#logo-container {
  position: absolute;
  top: 80px;
  left: 77px;
  animation: moving-to-target 1s ease-in-out;
  z-index: 10;
}

.fixed-center {
  position: fixed;
}

.sign-up-form-card {
  position: relative;
  width: 51%;
  height: 81%;
  max-width: 598px;
  max-height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 30px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 0px 14px 3px #0000000a;
  margin-top: 137px;
  gap: 32px;
}

.sign-up-form-card h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 48px;
}

.sign-up-arrow {
  display: flex;
  position: absolute;
  top: 70px;
  left: 50px;
}

.sign-up-underline {
  border-bottom: 3px solid #29abe2;
  width: 150px;
  margin-top: -10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 32px;
}

input {
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  width: 90%;
}

input::placeholder {
  color: #e8e8e8;
}

.user-name-input,
.email-input,
.password-input,
.confirm-password-container {
  width: 401px;
  height: fit-content;
  max-width: 401px;
  max-height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

#mail-logo,
#password-logo {
  width: 24px;
  height: 24px;
}

#name-logo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#alert {
  position: absolute;
  top: 445px;
  left: 93px;
  color: #ff8190;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  display: none;
}

.check-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 32px;
}

.check-box p {
  color: #a8a8a8;
}

.check-box a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #29abe2;
  text-decoration: none;
}

.check-box img {
  margin-right: 12px;
  cursor: pointer;
}

.check-box img:hover {
  transform: scale(1.1);
  background-color: #edf2fa;
}

.sign-up-btn-container {
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

#sign-up-btn {
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: none;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  height: 55px;
  width: 126px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.signed-up-success-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.356);
  z-index: 5;
  display: none;
  justify-content: center;
}

#signed-up-success {
  padding: 0px 25px 0px 25px;
  border-radius: 20px;
  border: none;
  background-color: #2a3647;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  height: 74px;
  width: 262px;
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 5;
  animation: sign-up 0.3s;
}

#sign-up-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

footer a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

footer a:first-child {
  margin-right: 32px;
}

footer a:hover {
  color: #29abe2;
  font-weight: 700;
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 3%;
}

#left-arrow:hover {
  transform: scale(1.1);
  background-color: #eeeeee91;
  border-radius: 50%;
}

@keyframes sign-up {
  0% {
    transform: translateY(450px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1050px) {
  #logo-container {
    top: 35px;
    left: 35px;
  }

  #sign-up-logo {
    width: 83px;
    height: 98px;
  }

  .sign-up-form-card h1{
    margin-top: 24px;
  }

  .inputs {
    gap: 22px;
  }
}

@media (max-width:850px) {
  .user-name-input, .email-input, .password-input, .confirm-password-container {
    width: 90%;
    margin-left: 10px;
  }
  
  #sign-up-logo {
    height: 57px;
    width: 49px;
  }
  .sign-up-form-card h1{
    font-size: 45px;
  }

  #sign-up-btn {
    width: 115px;
    height: 44px;
    font-size: 17px;
  }
}

@media (max-width: 750px) {
  .sign-up-main-container {
    flex-direction: row;
    height: 90vh;
  }

  .sign-up-form-card {
    width: 90%;
    height: 65%;
  }

  .sign-up-arrow {
    top: 35px;
    left: 30px;
  }

  .inputs {
    height: 75%;
    gap: 5%;
  }

  footer {
    position: absolute;
    bottom: 5%;
    height: 0;
    margin-bottom: 0;
  }

  footer a:first-child {
    margin-right: 0;
  }

  .footer-links {
    justify-content: space-evenly;
    margin-top: 0;
  }
}

@media (max-width: 520px) {
  .sign-up-form-card {
    margin-top: 73px;
  }
  
  .sign-up-form-card h1 {
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: -10px;
  }

  #sign-up-btn {
    margin-bottom: 5%;
  }

  .sign-up-underline {
    width: 88px;
  }

  #sign-up-logo {
    width: 34px;
    height: 43px;
  }

  .user-name-input,
  .email-input,
  .password-input,
  .confirm-password-container {
    width: 85%;
    max-height: 40px;
    padding-right: 20px;
  }

  .check-box {
    margin-bottom: 4%;
    margin-top: 6%;
  }
}

@media (max-width: 420px) {
  .bottom-btns {
    gap: 21px;
    flex-direction: column;
    margin-top: 30px;
  }

  #sign-up-btn {
    width: 170px;
    height: 50px;
    justify-content: center;
  }

  #sign-up-logo {
    width: 65px;
    height: 75px;
  }

  .inputs {
    margin-bottom: 20px;
    align-items: center;
  }

  .footer-links {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .sign-up-form-card h1 {
    font-size: 43px;
  }

  .sign-up-main-container {
    height: 100vh;
  }
}

@media (max-width: 380px) {
  input {
    width: 220px;
  }

  .sign-up-form-card h1 {
    font-size: 40px;
  }

  .sign-up-arrow {
    top: 29px;
    left: 17px;
  }

  #logo-container {
    top: 25px;
    left: 25px;
  }
}

@media (max-width: 340px) {
  .user-name-input,
  .email-input,
  .password-input,
  .confirm-password-container {
    gap: 0;
  }

  .sign-up-underline {
    width: 67px;
  }
}
