.sidebar {
    background-color: #2A3647 ;
    display: flex;
    flex-direction: column;
    height: 1024px;
    width: 232px;
}

.LogoSideBar{
    width: 100px;
    height: 122px;
    padding-top: 64px;
    padding-left: 66px;
    padding-bottom: 114px;
}

.linkSideBar{
    display: flex;
    flex-direction: column;
    padding-bottom: 365px;
}

.legal{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

a{
    padding-bottom: 20px;
    color: white;
}