<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div>
        <div class="left"><img src="/assets/img/joinLogoWhite.svg" alt="JoinLogo" class="logo"><h2 class="add">Add contact</h2><h3 class="better">Tasks are better with a Team</h3></div>
        <div><img src="/assets/img/lock.png" alt=""><img src="" alt=""></div>
    </div>
</body>
</html>