<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
    <link rel="stylesheet" href="/css/sidemenu.css" />
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="icon" href="/assets/img/joinLogoBlack.svg" />
  </head>
  <body onload="includeHTML()">
    <div w3-include-html="/assets/templates/sidemenu.html"></div>
    <div w3-include-html="/assets/templates/header.html"></div>
  </body>
</html>
