<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
    <link rel="stylesheet" href="/css/board.css" />
    <script src="/script.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/sidemenu.js"></script>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="icon" href="/assets/img/joinLogoBlack.svg" />
  </head>
  <body onload="includeHTML(); updateHTML()">
    <div w3-include-html="/assets/templates/sidemenu.html"></div>
    <div w3-include-html="/assets/templates/header.html"></div>
    <div>
      <div class="headlineBoard">
        <h1>Board</h1>
        <div class="task">
          <form action="">
            <div class="FindTask">
              <input type="text" name="search" id="search" placeholder=" find Task"/>
              <div class="line"></div>
              <button class="searchButton">
                <img src="/assets/img/search.svg" alt="search" />
              </button>
            </div>
          </form>
          <img src="/assets/img/addTask_Button_Board.svg" alt="addTask" id="addTask" />
        </div>
      </div>
      <div class="table">
        <div class="column">
          <div>
            <div class="toDo">
              <p>To Do</p>
              <img src="/assets/img/plus button.svg" alt="Plus" class="plus" />
            </div>
          </div>
          <div class="Task" id="toDo" ondrop="moveTo('toDo')" ondragleave="removeHighlight('toDo')" ondragover="allowDrop(event); highlight('toDo')"><div class="noToDo" id="1">no Task to do</div></div>
        </div>
        <div class="column">
          <div>
            <div class="toDo">
              <p>in Progress</p>
              <img src="/assets/img/plus button.svg" alt="Plus" class="plus" />
            </div>
          </div>
          <div class="Task" id="inProgress" ondrop="moveTo('inProgress')" ondragleave="removeHighlight('inProgress')" ondragover="allowDrop(event); highlight('inProgress')"><div class="noToDo">no Task in Progress</div></div>
        </div>
        <div class="column">
          <div>
            <div class="toDo">
              <p>Await Feedback</p>
              <img src="/assets/img/plus button.svg" alt="Plus" class="plus" />
            </div>
          </div>
          <div class="Task" id="awaitFeedback" ondrop="moveTo('awaitFeedback')" ondragleave="removeHighlight('awaitFeedback')" ondragover="allowDrop(event); highlight('awaitFeedback')">
            <div class="noToDo">no Task await feedback</div>
          </div>
        </div>
        <div class="column">
          <div>
            <div class="toDo">
              <p>Done</p>
              <img src="/assets/img/plus button.svg" alt="Plus" class="plus" />
            </div>
          </div>
          <div class="Task" id="done" ondrop="moveTo('done')" ondragleave="removeHighlight('done')" ondragover="allowDrop(event); highlight('done')"><div class="noToDo">no Task done</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
