<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/css/sidemenu.css" />
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="icon" href="/assets/img/joinLogoBlack.svg" />
  </head>
  <body>
    <div class="header">
      <p>Kanban Project Management Tool</p>
    <div class="column">
      <div class="display">
        <a href="help.html"><img src="/assets/img/help.svg" alt="help" class="help" /></a>
        <img src="/assets/img/UserInitials.svg" alt="PlatzhalterBenutzer" class="user" id="initials" onclick="changeInitials()"/><!--Bild mit Js ändern-->
      </div>
        <div id="subMenu" class="d-none">
          <a href="help.html">Help</a>
          <a href="PrivacyPolicy.html" id="privacy">Privacy Policy</a>
          <a href="LegalNotice.html" id="legal">Legal notice</a>
          <a href="logout">Log out</a>
        </div>
      </div>
    </div>
  </body>
</html>
