<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/css/sidemenu.css" />
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="icon" href="/assets/img/joinLogoBlack.svg" />
  </head>
  <body>
    <div class="header">
      <p>Kanban Project Management Tool</p>
      <div class="display">
        <a href="help.html"></a>
        <img src="/assets/img/help.svg" alt="help" class="help" />
        <img src="/assets/img/UserInitials.svg" alt="PlatzhalterBenutzer" class="user"/><!--Bild mit Js ändern-->
      </div>
    </div>
  </body>
</html>
