<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="./css/fonts.css" />
    <link rel="stylesheet" href="./css/sidemenu.css" />
    <link rel="icon" href="./assets/img/joinLogoBlack.svg" />
    <script src="script.js"></script>
  
  </head>
  <body onload="initHeader()">
    <div class="header">
      <p class="pLineHeader">Kanban Project Management Tool</p>
      <div>
        <img
          id="joinLogoHeader"
          src="./assets/img/joinLogoBlack.svg"
          alt="joinlogo"
        />
      </div>
      <div id="help" class="display">
        <a href="./help.html"><img src="./assets/img/help.svg" alt="help" class="help"/></a>
       <div id="userHeader" class="user" onclick="toggleSubmenu()"></div>
      </div>
      <div id="subMenu" class="d-none">
        <div class="submenu-links">
          <a id="help-link" class="d-none" href="./help.html">Help</a>
          <a id="PP" href="./PrivacyPolicy.html">Privacy Policy</a>
          <a id="LN" href="./LegalNotice.html">Legal notice</a>
          <a href="#" onclick="logoutUser()">Log out</a>
        </div>
      </div>
    </div>
    <script src="/js/sidemenu.js"></script>
    <script src="/js/storage.js"></script>
    <script src="/js/login.js"></script>
  </head>
  </body>
</html>
