<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/img/joinLogoBlack.svg" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="privacy">
      <div class="headlineDiv">
        <h1>Privacy Policy</h1>
        <img src="assets/img/arrowBack.svg" alt="Pfeil" />
      </div>
      <div>
        <h2>Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
          sit. Deleniti, porro quasi est eligendi repudiandae ex nesciunt
          voluptates adipisci nemo perspiciatis repellendus veritatis distinctio
          quam iure vero inventore non?
        </p>
        <h2>Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
          nobis earum qui, nemo in consequatur adipisci id sunt debitis. Ipsam
          architecto aut tenetur nihil perspiciatis sunt fugiat aliquam
          dignissimos at.
        </p>
      </div>
    </div>
  </body>
</html>
